// setup some global variables!!!
$bs3-btnblue: #337ab7;
$bs3-btnblue-border: #2e6da4;

// mixin for text-shadow with default args
@mixin text-shadow($x: 2px, $y: 2px, $blur: 2px, $color: #c0c0c0) {
  text-shadow: $x $y $blur $color;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: {
    family: 'Acme', sans-serif;
    size: 1.125rem;
  }

  line-height: 1.42857143;
  background-color: salmon;
}

h1 {
  font: {
    family: 'Monofett';
    size: 50px;
  }

  color: darkred;
}

header {
  background-color: lightblue;
  min-width: 350px;
  padding: {
    top: 20px;
    bottom: 10px;
  }
}

#quote-box {
  margin-top: 25px;
  padding: 25px 50px;
  box-shadow: 5px 5px 15px grey;
  background-color: beige;
  min-width: 350px;
  border-radius: 15px;
  @include text-shadow(); // using default values
}

#text {
  font-size: 36px;
}

#author {
  font-size: 24px;
}

.share-btns {
  padding-right: 0; // to counter Bootstrap default row padding
}

.btn-primary {
  background-color: $bs3-btnblue;
  border-color: $bs3-btnblue-border;
  height: 40px;
}

.fa-twitter {
  padding-right: 6px;
}

footer {
  margin-top: 40px;
  @include text-shadow($color: #615858); // pass in value for color
}
