/* setup some global variables!!! */
$bs3-btnblue: #337ab7;
$bs3-btnblue-border: #2e6da4;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: {
    family: 'Acme', sans-serif;
    size: 1.125rem;
  }

  line-height: 1.42857143;
  background-color: salmon;
}

h1 {
  font: {
    family: 'Monofett';
    size: 50px;
  }

  color: darkred;
}

header {
  background-color: lightblue;
  min-width: 350px;
  padding: {
    top: 20px;
    bottom: 10px;
  }
}

#quote-box {
  margin-top: 25px;
  padding: 25px 50px;
  box-shadow: 5px 5px 15px grey;
  background-color: beige;
  min-width: 350px;
  border-radius: 15px;
}

#text {
  font-size: 36px;
}

#author {
  font-size: 24px;
}

.share-btns {
  // background-color: #f5d3f9;
  padding-right: 0; // to counter BS row padding
}

// #tweet-quote {
//   background-color: #f8ffbb;
// }
//
// #facebook {
//   background-color: #d7f6a6;
//   // padding-left: 5px;
// }

#tweet-quote,
#facebook {
  // float: right;
  // margin-right: 5px;
}

.btn-primary {
  background-color: $bs3-btnblue;
  border-color: $bs3-btnblue-border;
  height: 40px;
}

.fa-twitter {
  padding-right: 6px;
}

footer {
  margin-top: 40px;
}
