* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Acme', sans-serif;
  font-size: 1.125rem;
  line-height: 1.42857143;
  background-color: salmon;
}

h1 {
  font-family: 'Monofett';
  font-size: 3.125rem;
  color: darkred;
}

header {
  background-color: lightblue;
  min-width: 350px;
  padding-top: 20px;
  padding-bottom: 10px;
}

#quote-box {
  margin-top: 25px;
  padding: 25px 50px;
  box-shadow: 5px 5px 15px grey;
  background-color: beige;
  min-width: 350px;
  border-radius: 15px;
}

#text, #author {
  text-shadow: 2px 2px 2px #c0c0c0;
}

#text {
  font-size: 2.25rem;
}

#author {
  font-size: 1.5rem;
}

.btn-primary {
  background-color: #337ab7;
  border-color: #2e6da4;
}

.fa-twitter {
  padding-right: 6px;
}

footer {
  margin-top: 40px;
  text-shadow: 2px 2px 2px #615858;
}
