// main: ./main.scss

// some global variables
$button-blue: #337ab7;
$blue-dk-blue: #275d8b;
$body-bg: #fb9084;

$header-bg: lightblue;
$header-text: darkred;
$quote-box-bg: beige;
$button-text-color: white;
$text-shadow-color: #c0c0c0;

$footer-link-color: #002477;
$footer-link-hover-color: #800080;

@mixin mq($size) {
  @media only screen and (min-width: $size) {
    @content; /* lets us pass content block into mixin */
  }
}

body {
  font-family: 'Acme', sans-serif;

  text-align: center;
  background: $body-bg;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
}
