// main: ./main.scss

h1 {
  font: {
    family: 'Monofett';
    size: 2rem;
  }

  color: $header-text;
}

header {
  background-color: $header-bg;
  width: 100%;
  padding: 0.5em;
  line-height: 1;
}
