// main: ./main.scss

header {
  background-color: $header-bg;
  width: 100%;
  padding: 0.5em;
  line-height: 1;
}

h1 {
  font: {
    family: 'Monofett';
    size: 2rem;
  }

  color: $header-text;

  @include mq(500px) {
    font-size: 3.5rem;
  }
}
