// main: ./main.scss

.quote-box {
  margin-top: 1.5em;
  padding: 1em;
  box-shadow: 5px 5px 15px grey;
  background-color: $quote-box-bg;

  max-width: 700px;
  height: 400px;

  display: grid;
  grid-template-rows: 1fr auto;
  border-radius: 2%;
}

.text-wrapper {
  align-self: center;
  // background: lightblue;
  overflow-y: auto;
  min-height: 4em;
  max-height: 250px;
}

.quote-box-text,
.quote-box-author {
  @include text-shadow();
}

.quote-box-text {
  font-size: 1.5rem;
}

.quote-box-text::before {
  content: open-quote;
  font-size: 2.5em;
  line-height: 0;
  opacity: 0.3;
  padding-right: 2px;

  vertical-align: middle;
}

.quote-box-author {
  font-size: 1rem;
  text-align: right;
  margin-top: 0.25em;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: $button-blue;
  color: $button-text-color;
  border-radius: 5px;
  padding: 0.25em 0.75em;
  cursor: pointer;
  outline: none;
  border: none;
  text-decoration: none;
}

.button:hover,
.button:focus {
  box-shadow: 0 0 0 2px orange;
  background-color: $blue-dk-blue;
}

.button:active {
  transform: scale(0.95);
}

.fa-twitter {
  padding-right: 0.25em;
}
